<style>
  .espaco{
    padding: 20px;
  }
  </style>
  <title>Sobre</title>
  <div class="espaco">
<center><p class ="mb-5">Bem vindo ao All for All, esse site tem como objetivo ser um espaço onde as pessoas possam expressar seus sentimentos sem medo pois será feito tudo "anonimamente", desde que não ofendam os outros membros, além disso você pode compartilhar situações que você acha que podem incentivar,motivar, ou até mesmo fazer com que a pessoa se sinta melhor.<br>
As vezes apenas uma palavra amiga, não é o necessário para se sentir melhor, e para isso recomendamos que a pessoa se dirija a um profissional, pois não podemos deixar que a tristeza nos siga para tudo que é lugar.</p>

<b>Segue abaixo o telefone de alguns psicologos gratuitos disponiveis no DF</b>
<br><br>

<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 18rem; height:15rem">
      <div class="card-body">
        <h5 class="card-title">Universidade de Brasilia</h5>

        <p class="card-text">Inscrições abertas uma vez por semestre no Instituto de Psicologia. Interessados devem manter contato para saber saber quando as vagas estarão disponíveis.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 18rem; height:15rem">
      <div class="card-body">
        <h5 class="card-title">Universidade Católica</h5>
        <p class="card-text">Horário: segunda a sexta, das 8h às 22h; sábado, das 8h às 12h</p>
          Telefone: (61) 3356-9000</p>
      </div>
    </div>
  </div>



  <div class="col-sm-3">
    <div class="card" style="width: 18rem; height:15rem">
      <div class="card-body">
      <h5 class="card-title">Uniceub</h5>
        <p class="card-text">Horário: segunda a sexta, das 8h às 22h; sábado, das 8h às 12h<br>
    Telefone: (61) 3356-9000</p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 18rem; height:15rem">
      <div class="card-body">
        <h5 class="card-title">IESB</h5>
        <p class="card-text">Horário: segunda a sexta, das 7h30 às 21h; sábado, das 8h às 13h<br>   Telefone: (61) 3445-4502</p>
      </div>
    </div>
  </div>
</div>
</div>
</center>
