<title>All for All</title>

<body bgcolor='FFFF00'>
    <br><br>
    <center>
    <img src="https://image.flaticon.com/icons/svg/478/478533.svg" width=20% height=20%>
    <br><br>
    <%if Post.count>0 %>
    <div class="card text-center" style="width: 18rem;" >
      <div class="card-body">
        <h5 class="card-title">Ultimo Post do Site</h5>
        <h6 class="card-subtitle mb-2 text-muted"><%=Post.all.last.title%></h6>
        <p class="card-text"><%=Post.all.last.body.lines.first%>...</p>
        <a href='/posts/<%=Post.all.count.to_s%>' class="btn btn-primary">Ler Completo</a>
      </div>
    </div>
    <% else %>
    <div class="card text-center" style="width: 18rem;" >
      <div class="card-body">
        <h5 class="card-title">Ultimo Post do Site</h5>
        <h6 class="card-subtitle mb-2 text-muted">Não há posts</h6>
        <p class="card-text">Nada a mostrar...</p>
      </div>
    </div>
    <% end %>
    </center>
</body>
