<style>
    .ali{
        padding-left:20px;
    }
</style>
<title> Posts</title>
<div class="ali">
<% if user_signed_in? %>
<a class="btn btn-primary" href="/posts/new" role="button">Novo Post</a><br><br>
<h2 class="title"> Posts no blog</h2>
<% @posts.each do |post| %>
  <div class="row">

    <div class="card text-center" style="width: 25rem; height:20rem" >
  <div class="card-header" style="text-transform:uppercase">
    <b>Post <%=post.id%></b>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="text-transform:uppercase"><%= post.title %></h5>
    <p class="card-text"><%=post.body.lines.first%>...</p>
    <b>Texto completo em:</b> <%= link_to post.title, post %>
  </div>
  <div class="card-footer text-muted">
    <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
  </div>
</div>
  
<%end%>
</div>
</div>
</div>
<br>
<p>

</p>


<%if Post.count==0%>
<center>
  <p> Não há posts disponiveis para a vizualização.</p>
</center>
<%end%>
<%else%>
  <center>
    <p>Você não está conectado, conecte-se ou registre-se para vizualizar os posts de outros usuarios.</p>
  </center>
<%end%>
<div>
  <% flash.each do |name,msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
  <% end %>
</div>
