<title><%=@post.title%></title>
<style>
.padrao{
  padding-left: 30px;
}
</style>
<div class="padrao">
<%if user_signed_in?%>
<br>
<h3 class="title" style="text-transform: uppercase;"><b><%=@post.title%></b></h3>

<div class="card" style="width: 50rem;">
  <div class="card-body">
    
    <p class="card-text" style="text-align:left"><%= @post.body%></p>
    </div>
</div>

      <p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> Ago
    <% if current_user == @post.user %>
    | <%= link_to 'Editar', edit_post_path(@post) %>
    | <%= link_to 'Deletar', post_path(@post), method: :delete, data: {confirm: 'Tem certeza?' } %>
    <% end %>
  </p>
         

  <div id="comments">
    <br><br><br>
    <h4><b>Comentários</b></h4>

    <% @post.comments.each do |comment| %>
    <h5>Comentario <%=comment.id%></h5>
    <h6><%= comment.body %></h6>
    <br>
    <% end %>

    <h4>Adicionar Comentario:</h4>
    <%= render "comments/form" %>
  </div>
</div>
<%end%>
</div>