<!DOCTYPE html>
<style>
.right{
  padding-right:100px;
}
</style>
<html>
  <head>
  <link rel="shortcut icon" href="<%=image_url("icon.ico")%>"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/" style="font-size:30px; font-family: 'Times New Roman', Helvetica, sans-serif; font-style: italic">All for All</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" >Sobre</a>
      </li>
</ul>
  </div>
    
</nav>
<div class="right">
<p style="text-align:right;font-size:20px">
  <%if user_signed_in?%>
  <%= link_to 'Sair', destroy_user_session_path, 
       method: :delete %>
  <%else %>
  <%= link_to('Entrar', new_user_session_path)  %>  
  <%= link_to('Registrar', new_user_registration_path)  %>

  <%end%>
   </p>
    <%= yield %>
</div>
  </body>
</html>
